.wrapper{
  display: grid;
  grid-template-rows:60px 1fr ;
  grid-template-columns:2fr 10fr ;
  grid-template-areas: 
  "h h"
  "n c";
  grid-gap: 10px;
}
.wrapper-components{
  grid-area: c;
  
  background-image: url(https://vsthemes.org/uploads/posts/2020-12/1608944475_116-wnewohk.jpg);
  background-size: cover;
  color: rgb(242, 243, 243);
}
.wrapper{
  margin-left: 80px;
  margin-right: 80px;
}